<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @owner.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @owner.address.street %>,
  <%= @owner.address.city %>,
  <%= @owner.address.state %>
</p>

<p>
  <strong>Car:</strong>
  <% @owner.cars.each do |a|%>
    <%= a.make %> <br/>
  <% end %>
</p>


<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
