<!DOCTYPE html>
<html>
<head>
  <title>MidtermPracticeS2015</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id = "header">
<%= link_to 'Owners', owners_path, {:style => 'color:ivory'} %>
<%= link_to 'Cars', cars_path, {:style => 'color:ivory'} %>
<%= link_to 'Addresses', addresses_path, {:style => 'color:ivory'} %>
</div>
<%= yield %>
</body>
</html>
